<!DOCTYPE html>
<html>
<head>
  <title>ContentBlock</title>
  <%= stylesheet_link_tag    "content_block/application", media: "all" %>
  <%= javascript_include_tag "content_block/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
